
.text_out {
  background-color: #f5f5f5;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  padding: 10px;

}

#management-data-updated_values{
  white-space: pre-wrap;
  tab-size: 100px;

}

.btn-menu {
  margin-bottom: 1em;
  display: block;
}

.colHeader{
  white-space: pre-line;
}

