.upload-button {
  margin : 1em;
  float: right;
}

.file-table{
    display: inline-block;
    margin-inline-start: 4em;
    margin-inline-end: 4em;
    vertical-align: top;
}

.inline{
      display: inline-block;
      vertical-align: middle;
}

.btn-exped{
      display: inline-block;
      margin-top: 0.33em;
}

.center{
  text-align: center;
}

.exped{
  margin-left: 3em;
}

.expedition {
    background: lighten($grey5, 25);
    border: 1px solid $primary-color;
    border-radius: 4px;
}

.exped-content {
  background: lighten($grey5, 25);
  border: none;
}

.panel {
  border: none;
}

.table-container {
  width: 100%;
  height: 70vh;
}
