// ####################################
// Main font and color
// ####################################

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    color: $secondary-color;
}