// ####################################
// Keeping footer at the bottom of the page
// ####################################

.footer-to-bottom-container {
    position: relative;
    min-height: 100vh;
}
  
.footer-to-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

// ####################################
// Footer styling
// ####################################

.footer {
    background-color: $grey1;
    padding: 3em 0;
    color: $grey5;
    
    .content-wrapper {
        display: flex;
        align-items: center;
    }

    .logo {
        margin: 0 1.5em 0 0;
    }

    a {
        color: $grey4;

        &:hover {
            color: $grey3;
        }
    }

    .copyright {
        margin: 0 0 0 auto;
    }
}
