// ####################################
// Global Sass variables
// ####################################

$primary-color: #e24727;
$secondary-color: #2f4e72;
$white: #fff;
$black: #0b0e13;
$grey1: #252d3a;
$grey2: #36455e;
$grey3: #586885;
$grey4: #8b9bb8;
$grey5: #a3b2ce;
