// ####################################
// Logo styling
// ####################################

.logo {
    font-weight: bold;
    color: $black;
    
    em {
        font-style: normal;
        color: $primary-color;
    }

    &--inverted {
        color: $white;
    }
}
