.map {
    width: auto;
    
    .mapframe {
        margin: 0 auto;
        display: block;
        width: 90vw;
        height: 90vh;
    }
    
    .mapframe:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    
    
}