// ####################################
// Homepage banner style
// ####################################

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $grey4 url('./images/banner.jpg') no-repeat 50% 50% / cover;
    height: 650px;
    padding: 0 1em;
    margin: 0 0 3.5em;
    text-align: center;

    h1 {
        font-size: 3em;
        font-weight: bold;
        text-shadow: 1px 1px 1px $black;
        color: $white;
        margin: 0;
    }

    @include laptop {
        background-position: 50% 25%;

        h1 {
            font-size: 3.6em;
        }
    }
}
