// ####################################
// Homepage banner style
// ####################################


.banner {
    background:  url('./images/home.jpg') no-repeat 50% 50% / cover;
    padding: 3em 0;
    margin: 0 -49vw -1em;
    text-align: center;
    width: 98vw;
    position: relative;
    left: 50%;
    right: 50%;

    color: $white;
    text-shadow: 1px 1px 1px $black;
    
     @include tall-and-wide {
        height: calc(100vh - 154px);
    }
}


.about {


    h1, h2 {
        font-weight: bold;
    }

    h1 {
        font-size: 3em;
        margin: 0 0 .5em;
    }

    h2 {
        font-size: 2.5em;
        margin: 0 0 2em;
    }

    a {
        color: $primary-color;

        &:hover,
        &:active,
        &:focus {
            color: darken($primary-color, 20);
        }
    }

    .info {
        margin: 0 0 5.5em;
    }

    @include laptop {
        background-position: 50% 25%;

        h1 {
            font-size: 3.6em;
        }

        h2 {
            font-size: 3em;
        }
    }
    @include tall-and-wide {
        height: calc(100vh - 154px);
    }

}
.logos img{
    display:inline-block;
}

.epfl {
    float: left;
}

