// ####################################
// Homepage info subtitle style
// ####################################

.info {
    margin: 0 0 3.5em;
    
    h1, h3 {
        text-align: center;
        margin: 0 auto 1.5em;
        padding: 0 0 .5em;
        max-width: 1300px;
        border-bottom: 1px solid $primary-color;

        @include laptop {
            width: 95%;
        }
    }

    h3 {
        @include laptop {
            font-size: 2em;
        }
    }

    h4 {
        font-weight: bold;
        margin-top: 1.5em;
    }

    p {
        font-size: 1.2em;
        text-align: justify;
    }
    
    .content {
        max-width: 800px;
        margin: 0 auto;
    }
}
